<%- include('partials/header.ejs') %> 

  <body>
    <div class="h-screen flex flex-wrap w-full bg-green-500 justify-around">
    <% libros.forEach(function (libro) { %> 
        <div class="">
          <p>Título: <%= libro.title %> </p>
          <p>Autor: <%= libro.autor %> </p>
          <img src="<%= libro.imagen %>" class="h-24"></img>
          <p>Descripcion: <%= libro.descrip %> </p>
        </div>
    <% }) %>
    </div>


  </body>
</html>
