<!DOCTYPE html>
<html>
  <head>
    <title>Libros</title>
    <link rel='stylesheet' href='/stylesheets/custom/custom.css' />
  </head>
  <%- include('partials/header.ejs') %> 

  <body>
    <div class="h-screen bg-red-400">
    <% libros.forEach(function (libro) { %> 
        <div>
          <p><%= libro.title %> </p>
          <p><%= libro.autor %> </p>
          <img src="<%= libro.imagen %>"></img>
          <p><%= libro.descrip %> </p>
        </div>
      </div>

    <% }) %>

  </body>
</html>
